<div class="sidebar">
    <nav>
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active-link" (click)="close()">
            <i class="pi pi-home mr-3"></i> Página Inicial
          </a>
        </li>
        <li>
          <a routerLink="/ator" routerLinkActive="active-link" (click)="close()">
            <i class="pi pi-user mr-3"></i> Ator
          </a>
        </li>
        <li>
          <a routerLink="/classe" routerLinkActive="active-link" (click)="close()">
            <i class="pi pi-tag mr-3"></i> Classe
          </a>
        </li>
        <li>
          <a routerLink="/diretor" routerLinkActive="active-link" (click)="close()">
            <i class="pi pi-megaphone mr-3"></i> Diretor
          </a>
        </li>
      </ul>
    </nav>
  </div>
  